body{
    text-align: center;
    background-color: #ddd;
}
.goog{
    width: 300px;
    height: 100px;
}
.ama{
    width: 200px;
    height: 100px;
}
.olma{
    width: 100px;
    height: 100px;
}
.ali{
    width: 200px;
    height: 100px;
}
.met{
    width: 200px;
    height: 100px;

}
.mic{
    width: 200px;
    height: 100px;
}
div{
    background-color: black;
}
.sah{
    color: white;
}
.net{
    
    display: flex;
    list-style: none;
}
.insta{
    width: 20px;
    height: 20px;
}
.face{
    width: 20px;
    height: 20px;
}
.yutub{
    width: 20px;
    height: 20px;
}
.tele{
    width: 20px;
    height: 20px;
}
div{
    padding-bottom: 30px;
    text-align: center;
}
.tarmoq{
    text-align: center;
}
ul{
    list-style: none;
}
nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size:  25px; 
}