body{

    text-align: center;
    background-color: #ddd;
}
nav{
    list-style: none;
    display: flex;
    font-size:  25px; ;
    justify-content: space-between;
}
p{
    font-size: 20px;
}
h1{
    font-size: 50px;
}

div{
    background-color: black;
}
.sah{
    color: white;
}
.net{
    
    display: flex;
    list-style: none;
}
.insta{
    width: 20px;
    height: 20px;
}
.face{
    width: 20px;
    height: 20px;
}
.yutub{
    width: 20px;
    height: 20px;
}
.tele{
    width: 20px;
    height: 20px;
}
div{
    padding-bottom: 30px;
    text-align: center;
}
.tarmoq{
    text-align: center;
}