h1{
    text-align: center;
}
body{
    background-color: palevioletred;
    text-align: center;
}
img{
    width: 400px;
    height: 300px;
    
}
button{
    text-align: center;
    background-color: blue;
    border-radius: 20px;
}